# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec

# Node
node_modules/
yarn.lock
package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.venv/
env/
venv/

# Frappe/ERPNext
*.pyc
sites/
